---
import { getGameList } from '../../services/games';
import Layout from '../../layouts/Layout.astro';
import type { Game } from '../../models/game';
import GameEditions from '../../components/GameEditions.astro';
import GameHeader from '../../components/GameHeader.astro';

export function getStaticPaths() {
  const games = getGameList();
  return games.map((game) => ({
    params: { slug: game.id },
    props: { game },
  }));
}

export interface Props {
  game: Game;
}

const { game } = Astro.props;
---

<Layout title={game.name}>
  <main>
    <a href="/games">Back to game list</a>
    <GameHeader game={game} />
    <GameEditions game={game} />
  </main>
</Layout>
