---
import Layout from '../layouts/Layout.astro';
import GameList from '../components/GameList.astro';
import Statistics from '../components/Statistics.astro';
import { getGameList } from '../services/games';
import { getStatistics } from '../services/statistics';

const favoriteGames = getGameList(true);
const statistics = getStatistics();
---

<Layout title="Main">
  <main>
    <a href="/games">See full game list</a>
    <h2>Statistics</h2>
    <Statistics statistics={statistics} />
    <h2>Favorite Games</h2>
    <GameList games={favoriteGames} />
  </main>
</Layout>
