---
import type { Game } from '../models/game';
import { getPlatforms, isGameCompleted } from '../utils/game';

export interface Props {
  games: Game[];
}

const { games } = Astro.props;
---

<table>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Genres</th>
    <th>Platforms</th>
    <th>Status</th>
  </tr>
  {
    games.map((game, index) => (
      <tr>
        <td>{index + 1}</td>
        <td>
          <a href={`/games/${game.id}`}>{game.name}</a>
        </td>
        <td>{game.genres.join(', ')}</td>
        <td>{getPlatforms(game).join(', ')}</td>
        <td>{isGameCompleted(game) ? 'Completed' : 'Played'}</td>
      </tr>
    ))
  }
</table>

<style></style>
