---
import type { Game } from '../models/game';
import GameCard from './GameCard.astro';

export interface Props {
  games: Game[];
}

const { games } = Astro.props;
---

<div class="game-list">
  {games.map((game) => <GameCard game={game} />)}
</div>

<style>
  .game-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
</style>
